* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #1a1a1a;
}

/* CENTERING */

#mainContainer {
    width: 40%;
    margin: 0 auto;
    height: 100vh;

    display: flex;
    align-items: center;
}

#allContainer {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* STOPWATCH */

#stopwatchContainer {
    text-align: center;
    color: white;
}

/* BUTTONS */

#buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 25px;
}

#buttonsContainer button {
    padding: 5px;
    border: none;
    background-color: #3c69c9;
    color: white;
    cursor: pointer;
}

#buttonsContainer button:hover {
    background-color: #1f49a3;
    box-shadow: 0 0 10px #1f49a3;
}

#buttonsContainer button:active {
    background-color: #092e7d;
}

/* responsivity */

@media (max-width: 400px) {
    #mainContainer {
        width: 100%;
    }
}